@{
    ViewBag.Title = "Home Page";    
}

<h2>Dutch Treat</h2>
<div class="row">
    <div class="col-md-9">
        <div class="product-info">
            <img src="~/img/VanGogh.jpg" />
            <h3>Mug</h3>
            <ul class="product-props">
                <li>Price: $8.88</li>
                <li>Artist: Van Gogh</li>
                <li>Title: xD</li>
                <li>Description: Xd</li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>

        <div id="theForm">
            <form>
                <label>Username: </label>
                <br />
                <input type="text" />
                <br />
                <label>Email: </label>
                <br />
                <input type="email" />
                <br />
                <label>Subject: </label>
                <br />
                <input type="text" />
                <br />
                <label>Message: </label>
                <br />
                <textarea rows="4"> </textarea>
                <br />
                <input type="submit" value="Send" />
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>